@*@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }
}*@